<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">

    <testsuites>
        <testsuite name="Database">
            <directory>./tests/Database</directory>
        </testsuite>
        <testsuite name="Exception">
            <directory>./tests/Exception</directory>
        </testsuite>
        <testsuite name="Http">
            <directory>./tests/Http</directory>
        </testsuite>
        <testsuite name="Model">
            <directory>./tests/Model</directory>
        </testsuite>
        <testsuite name="Service">
            <directory>./tests/Service</directory>
        </testsuite>
        <testsuite name="Vanilla">
            <directory>./tests/Vanilla</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
</phpunit>